<p>
    <font size="4"><b><u>Berikut tag font face, size, dan juga color :</u></b></font>
    <br />
</p>
<p>
Tag Font paramater <b>face</b>:
<br />
<font face="Times New Roman">
    Homepage ini masih dalam tahap pengembangan
</font><br />
<font face="Arial">
    Homepage ini masih dalam tahap pengembangan
</font><br />
<font face="Courier New">
    Homepage ini masih dalam tahap pengembangan   
</font><br />
<font face="verdana">
    Homepage ini masih dalam tahap pengembangan
</font><br />
</p>

<p>
Tag font paramater <u>size</u>:
<br />
<font size="1">
    satu,
</font>
<font size="2">
    dua,
</font>
<font size="3">
    tiga,
</font>
<font size="4">
    empat,
</font>
<font size="5">
    lima,
</font>
<font size="6">
    enam,
</font>
<font size="7">
    tujuh,
</font><br />
</p>

<p>
Tag font parameter <i>color</i>:
<br />
<font color="#FF000">
    Red
</font><br />
<font color="#800000">
    Maroon
</font><br />
<font color="#008000">
    Lime
</font><br />
<font color="#0000FF">
    Green
</font><br />
<font color="#000080">
    Blue
</font><br />
<font color="#FFFF00">
    Navy
</font><br />
<font color="#FF00FF">
    Yellow
</font><br />
<font color="#FF00FF">
    Fuchsie
</font><br />
<font color="#00FFFF">
    Aqua
</font><br />
