<body>
<p>
Perkenalkan,<br />
<b>nama</b> <i>saya Abdilah Muttaqin</i> 
Ini adalah<br />hompage pertama saya,<br /> karena saya baru belajar tentang cara<br />membuat <b><i><u>homepage</u></i></b>.
</p>

<p>
    <b><i><u>homepage</u></i></b> ini masih dalam tahap pengembangan. Oleh karena itu, tampilannya masih terlalu sederhana.<br />
    Saya akan berusaha terus mengembangkan <b><i><u>homepage</u></i></b> ini agar terus menjadi lebih baik kedepannya terutama dari segi 
    tampilan yang masih terlalu sederhana.
</p>
<p>
    <i>Sekian dari saya terimakasih</i>
</p>

</body>