<body>
    <p>
        <img src="Abdil.JPEG" height="250px" width="150px" align="left">
        Perkenalkan, nama saya Abdilah Muttaqin.
        Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat hompage.
        Homepage ini masih dalam tahap pengembangan. Oleh karena itu, tampilannya masih terlalu
        sederhana. Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga
        semakin lama semakin menarik untuk dilihat.
    </p>
    <p>
        Pada kesempatan ini, saya akan menunjukkan halaman selanjutnya dari halaman ini<br />
        dengan cara klik di bawah ini.<br />
    </p>
    <p>
        Saya ingin melihat <a href="hal2.html">halaman selanjutnya</a>.
        Saya ingin langsung menuju ke <a href="#akhir">bagian bawah</a>. Saya ingin menuju ke 
        <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>
    </p>
    <p>
        Ini bagian tengah.<br />
    </p>
    <p>
        Ini bagian akhir.<br />
    </p>
    <p>
        <a href="https://binomo.com/auth"><img src="binomo.JPEG" height="50px" width="100px"/></a>.<br />
        Homepage Binomo.com.<br />
    </p>
    <p>
        <a href="http://www.elearning.uad.ac.id"><img src="elearninguad.png"></a><br />
    </p>
    <p>
        <a href="mailto:alitarmuji@uad.ac.id">Email saya</a><br />
    </p>
</body>